.navbar{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 0 1px 3px -2px black; 
    align-items: center;
    height: 100px;
}
.navbar .logo{
    width: 130px;
    margin-left: -30px;
}
.navbar-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #49557e;
    font-size: 20px;
    font-weight: 500;
}
.navbar-menu a {
  text-decoration: none;
  color: #49557e;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.navbar button:hover{
    background-color: #fff4f2;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.navbar-search .dot{
    position: absolute;
    min-width: 6px;
    min-height: 6px;
    background-color: tomato;
    border-radius: 5px;
    top: 95px;
    right:275px;
}
.profile {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    background: rgb(184, 58, 111);
    border-radius: 100%;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    z-index: 2;
}

.hover {
    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease;
    position: absolute;
    top: 50px;
    right: 0;
    background: white;
    color: black;
    width: 150px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 1; 
}

.profile:hover .hover {
    visibility: visible;
    opacity: 1;
    z-index: 3;
}


.hover ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.hover li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.hover li:last-child {
  border-bottom: none;
}

.hover li:hover {
  background-color: #f2f2f2;
}

@media (max-width:1050px){
    .navbar .logo{
        width: 200px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}
@media (max-width:900px){
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}
@media (max-width:750px){
    .navbar-menu{
        display: none;
    }
}